// COLORS

$font-family: "Montserrat", sans-serif;

$light-white: #e5e5e5;

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;

//Light Mode
$light-gradient: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
$background-color: #fafafa;
$white-color: #fafafa;
$dark-grey: #333333;
$light-purple-text: rgb(144, 17, 105);
$dark-blue-text: #272341;
